h1, h2, h3, h4, h5, h6, P {
    font-family: Helvetica;
}

/* Side buttons that can be found on the left */
.SideBTN{
    width: 16vw;
    text-align: center;
    color: white;
    background-color: #141446;
    border: none;
}

/* Each item on side */
.SideElement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Background color */
#background {
    background-color: f0f3f6;
}

.cardText {
    margin-top: 10px;
    margin-left: 2px;
}

/* For item that needs to be on the same line on a card */
.cardLine {
    display: inline;

}

/* Color when you hover a button */
.btn-secondary:hover {
    background-color: #1f2d60;
}

#Sidebar {
    background-color: #141446;
    padding-top: 2%;
    width: 20vw;
}

.FontLogo {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: white;
}

/* Font and weight for all text on the dashboard */
.FontMain {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

/* Font and weight for all text on the dashboard that needs to be bold */
.FontBold {
    font-family: Inter, sans-serif;
    font-weight: 501;

}

/* Makes icon bolder */
.IconBold {
    -webkit-text-stroke: 0.5px;
}

/* Red card that can be found on either anomaly/false positive box */
.RedCard {
    border-radius: 8px;
    background: #fed9e0;
    color: #e37c8b;
    background-size: contain;
}

/* Green card that can be found on either anomaly/false positive box */
.GreenCard {
    border-radius: 8px;
    background: #e1fada;
    color: #86dd6b;
    background-size: contain;
}

.FontBlack {
    color: black;
}

.FontWhite {
    color: white;
}

#Logo {
    text-align: center;
}


.dropdown-toggle::after {
    display:none;
}

.DropShadow {
    box-shadow: 0px 5px 11px 1px rgba(72,71,61,0.26);
}

#alertMsg {
    position: fixed;
    bottom:0;
    left: 15px;
    color: black;
    border-style: solid;
    border-color: red;
    box-shadow: 0px 5px 11px 1px rgba(72,71,61,0.26);
}

#alertBtnContainer {
    display: flex;
    justify-content: space-between;
}

.alertBtn {
    background-color: #141446;
    border: none;
}

.alertBtn:hover {
    background-color: #1f2d60;
    border: none;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
}

.loginCard {
    max-width: 60%;
    height: 70vh;
    border: #1f2d60;
    border-radius: 5px;
    background-color: white;
    box-shadow: 7px 11px 20px -1px rgba(0,0,0,0.54);
    
    }

.SystematicGradient {
    background: #f0f3f6
}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    height: 40px;
    width: 60%;
  }
  
.error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -0.5em;
    margin-top: -0.5em;
  }

  @keyframes shake2 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(3em);
    }
    40% {
      transform: translate(-3em);
    }
    60% {
      transform: translate(3em);
    }
    80% {
      transform: translate(-3em);
    }
    100% {
      transform: translate(0);
    }
  }
  .shakeAnimation {
    display: flex;
    align-items: center;

    animation: shake2 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
  }
